/* CONTAINER 1 */
.grid_container {
  display:grid;
  padding-left: 10px;
  padding-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 16px;
  position: relative;
  z-index: 5;
}

@media (max-width: 750px) {
  .grid_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .grid_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .grid_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



.container {
  width:311.98px; height:315.48px;
}

/* IMAGE CONTAINER 1 */
.image_container_1 {
  width: 311.98px;
  vertical-align:top;
}

.thumbnail_image {
  width:311.98px; height: 175.48px;
  border-radius: 12px;
}

/* IMAGE CONTAINER 2 */
.image_container_2 {
  display: flex;
  flex-direction: row;
  margin-top:8px;
}

.video_author {
  width:50px;
}

.thumbnail_author {
  width:40px; height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* TEXT CONTAINER */
.video_text {
  width:295.31px; height: 150px;
}

.thumbnail_title {
  font-weight: 500;
  color:white;
}

.thumbnail_channel {
  color:#aaaaaa;
  margin-top:8px;
  font-size: 14px;
}

.thumbnail_stats {
  color:#aaaaaa;
  margin-top:6px;
  font-size: 14px;
}

/* (EXTRA) svg icons */
.check_fill {
  width:12px;
  fill:#ff0000;
}